:root {
  --light: #FFFFFF;
  --primary-color: #627D5D;
  --secondary-color: #756965;
  --dark: #595959;
  --secondary-dark: #DCDBDA;
}

.projectList {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texts {
  width: 65%;
}

.title {
  font-size: 50px;
 
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 754px) {
  .text{
  flex-direction: column;
  }
}

@media screen and (max-width: 687px) {
  .list {
   flex-direction: column;
   align-items: center;
  }
}

