:root {
  --light: #FFFFFF;
  --primary-color: #627D5D;
  --secondary-color: #756965;
  --dark: #595959;
  --secondary-dark: #DCDBDA;
}

.skills {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  background-color: var(--light);
  height: 100vh;
}

.skillHeader {
  padding-top: 50px;
  margin-bottom: 1rem;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}

.topSkills,
.bottomSkills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillCard {
  padding: 50px;
}

.bottomSkills {
  display: flex;
  flex-wrap: wrap;
}

.resumeText {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.resume {
  text-decoration: none;
  color: #627D5D;
  padding-left: 5px;
}

.resume:hover {
  text-decoration: none;
  color: #627D5D;
  padding-left: 5px;
  font-weight: bold;
}

@media screen and (max-width: 526px) {
  .resumeText {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 485px) {
  .skillCard {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 464px) {
  .skillCard {
    padding: 5px;
  }

}