.skills {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  background-color: var(--secondary-dark);
}

.skillHeader {
  padding-top: 50px;
  margin-bottom: 1rem;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

.topSkills,
.bottomSkills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillCard {
  padding: 50px;
}

.bottomSkills {
  display: flex;
  flex-wrap: wrap;
}

.resumeText {
  display: flex;
 justify-content: center;
 margin-bottom: 50px;
}

.resume {
  text-decoration: none;
  color: #627D5D;
  padding-left: 5px;
}

.resume:hover {
  text-decoration: none;
  color: #627D5D;
  padding-left: 5px;
  font-weight: bold;
}