:root {
  --light: #FFFFFF;
  --primary-color: #627D5D;
  --secondary-color: #756965;
  --dark: #595959;
  --secondary-dark: #DCDBDA;
}

.about {
  display: flex;
  height: 100vh;
}

.about-left {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-left-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-intro {
  font-size: 30px;
  font-weight: 300;
}

.about-name {
  font-size: 60px;
}


.about-img {
  width: 25%;
  height: 70%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 3px 10px var(--dark);
}



@media screen and (max-width: 946px) {
  .about-img {
    width: 25%;
    height: 60%;
  }
}


@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
  }

  .about-left-wrapper {
  
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  

}

@media screen and (max-width: 800px) {
  .about-img {
    width: 25%;
    height: 50%;
  }
}

@media screen and (max-width: 655px) {
  .about {
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


@media screen and (max-width: 604px) {
  .about {
    height: 100vh;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .about-img {
    width: 35%;
    height: 50%;
  }
}

@media screen and (max-width: 596px) {
  .about {
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  }

 .about-img {
  overflow: hidden;
  height: 40%;
  width: 40%;
 }

}


@media screen and (max-width: 480px) {
  .about {
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  }

  
}

@media screen and (max-width: 396px) {
  
 .about-img {
  overflow: hidden;
  height: 20%;
  width: 20%;
 }

}

